<section class="feature container">
  <div class="feature__content">
    <div class="feature__content__description">
      <div><h2>تپسی پلاس</h2></div>
      <div>
        <p>
          در سرویس تپسی پلاس تاکسی اینترنتی تپسی،خودرویی با مدل بالاتر و عمر
          کمتر،به دنبال شما خواهد آمد. همچنین، رانندگان این سرویس بالاترین
          امتیاز را از مسافران دریافت کرده اند. در این سرویس که در حال حاضر در
          تهران فعال است،امکان تعیین چند مقصد یا توقف در حین سفر،وجود دارد.
        </p>
      </div>
    </div>
    <div class="feature__content__picture">
      <img src="/Assets/images/illus-classic.webp" alt="mac" />
    </div>
  </div>
  <div class="feature__content">
    <div class="feature__content__picture">
      <img src="/Assets/images/i-mac-1.png" alt="mac" />
    </div>
    <div class="feature__content__description">
      <div><h2>خدمات تپسی برای کسب و کار ها</h2></div>
      <div>
        <p>
          در سرویس تپسی پلاس تاکسی اینترنتی تپسی،خودرویی با مدل بالاتر و عمر
          کمتر،به دنبال شما خواهد آمد. همچنین، رانندگان این سرویس بالاترین
          امتیاز را از مسافران دریافت کرده اند. در این سرویس که در حال حاضر در
          تهران فعال است،امکان تعیین چند مقصد یا توقف در حین سفر،وجود دارد.
        </p>
      </div>
      <button class="btn btn--primary">ورود و ثبت نام پنل سازمانی</button>
    </div>
  </div>
  <div class="feature__content">
    <div class="feature__content__picture">
      <img src="/Assets/images/macbook.webp" alt="mac" />
    </div>
    <div class="feature__content__description">
      <div><h2>خرید کد اعتبار تپسی</h2></div>
      <div>
        <p>
          در سرویس تپسی پلاس تاکسی اینترنتی تپسی،خودرویی با مدل بالاتر و عمر
          کمتر،به دنبال شما خواهد آمد. همچنین، رانندگان این سرویس بالاترین
          امتیاز را از مسافران دریافت کرده اند. در این سرویس که در حال حاضر در
          تهران فعال است،امکان تعیین چند مقصد یا توقف در حین سفر،وجود دارد.
        </p>
      </div>
      <button class="btn btn--primary">خرید کد اعتبار و تخفیف</button>
    </div>
  </div>
</section>
