<section class="hero-section">
  <div class="hero-section__banner">
    <picture>
      <source
        srcset="https://tapsi.ir/images/home/banner.webp"
        type="image/webp"
        media="(min-width: 768px)"
      />
      <source
        srcset="https://tapsi.ir/images/home/banner.jpg"
        type="image/jpg"
        media="(min-width: 768px)"
      />
      <source
        srcset="https://tapsi.ir/images/home/banner-mobile.webp"
        type="image/webp"
        media="(max-width: 768px)"
      />
      <source
        srcset="https://tapsi.ir/images/home/banner-mobile.jpg"
        type="image/jpg"
        media="(max-width: 768px)"
      />
      <img
        alt="banner"
        src="https://tapsi.ir/images/home/banner.jpg"
        class="banner-img"
      />
    </picture>
  </div>

  <div class="hero-section__intro container">
    <div class="hero-section__intro__btn">
      <h1>تپسی</h1>
      <h2>اپلیکیشن درخواست خودرو و پیک</h2>
      <div class="hero-section__intro__btn__passenger">
        <svg class="icon">
          <use xlink:href="/Assets/images/svg-sprite.svg#download"></use>
        </svg>
        <a href="#">دانلود اپلیکیشن مسافران</a>
      </div>
      <div class="hero-section__intro__btn__passenger">
        <svg class="icon">
          <use
            xlink:href="/Assets/images/svg-sprite.svg#application-import"
          ></use>
        </svg>
        <a href="#">وب اپلیکیشن مسافران</a>
      </div>
      <div class="hero-section__intro__btn__passenger">
        <svg class="icon">
          <use xlink:href="/Assets/images/svg-sprite.svg#download"></use>
        </svg>
        <a href="#">دانلود اپلیکیشن رانندگان</a>
      </div>
      <div class="hero-section__intro__btn__passenger">
        <svg class="icon">
          <use xlink:href="/Assets/images/svg-sprite.svg#car-back"></use>
        </svg>
        <a href="#">ثبت نام راننده</a>
      </div>
    </div>
  </div>
</section>
