<section class="block-plan container">
  <div class="card">
    <header class="card__header card__header--secondary">
      <div class="card__header__badge-name">
        <span>عادی</span>
        <span class="badge badge--secondary">10% off</span>
      </div>
      <div class="card__header__price-text">
        <span class="card__price">290,000</span>
        <span class="card__billing-cycle">ماهانه / تومان</span>
      </div>
      <div>
        <span>سرویس ماشین های معمولی</span>
      </div>
    </header>
    <div class="card__body">
      <ul class="list list--tick">
        <li class="list__item">کیفیت معمولی</li>
        <li class="list__item">کیفیت معمولی</li>
        <li class="list__item">کیفیت معمولی</li>
        <li class="list__item">کیفیت معمولی</li>
      </ul>
      <button class="btn btn--secondary btn--block">ثبت سفارش</button>
    </div>
  </div>
  <div class="card card--popular">
    <header class="card__header card__header--primary">
      <div class="card__header__badge-name">
        <span>اقتصادی</span>
        <span class="badge badge--primary">15% off</span>
      </div>
      <div class="card__header__price-text">
        <span class="card__price">390,000</span>
        <span class="card__billing-cycle">ماهانه / تومان</span>
      </div>
      <div>
        <span>سرویس ماشین های کلاسیک</span>
      </div>
    </header>
    <div class="card__body">
      <ul class="list list--tick">
        <li class="list__item">کیفیت عالی</li>
        <li class="list__item">کم سر و صدا</li>
        <li class="list__item">زمان محدود</li>
        <li class="list__item">سرویس روزانه</li>
      </ul>
      <button class="btn btn--primary btn--block">ثبت سفارش</button>
    </div>
  </div>
  <div class="card">
    <header class="card__header card__header--secondary">
      <div class="card__header__badge-name">
        <span>ویژه</span>
        <span class="badge badge--secondary">20% off</span>
      </div>
      <div class="card__header__price-text">
        <span class="card__price">490,000</span>
        <span class="card__billing-cycle">ماهانه / تومان</span>
      </div>
      <div>
        <span>سرویس ماشین های مدل بالا</span>
      </div>
    </header>
    <div class="card__body">
      <ul class="list list--tick">
        <li class="list__item">کیفیت خیلی خفن</li>
        <li class="list__item">کم سر و صدا</li>
        <li class="list__item">زمان نا محدود</li>
        <li class="list__item">سرویس نا محدود</li>
      </ul>
      <button class="btn btn--secondary btn--block">ثبت سفارش</button>
    </div>
  </div>
</section>
